#heading {
  font-size: 50px;
  font-weight: bold;
  /*position: relative;*/
  /*text-shadow: 0 0 2px black;*/
}
#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    width: 80%;
    height: 80% ;
}
select  {
    outline: 0;
    overflow: hidden;
    height: 30px;
    /*background: #2c343c;*/
    /*color: #747a80;*/
    border: #2c343c;
    padding: 5px 3px 5px 10px;

    border-radius: 5px;
}



#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(overlay.png) repeat;
    text-align:center;
}
#input0 {
    min-width: 50%;
    padding: 12px 20px;
    margin: 8px 0px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #ccc;
}
#outerbody{
    margin:0;
    /*background-color: #f2f2f2;*/
    padding:0;
  }
#body{
  height: 100vh;
  margin: 0;
  margin: 0;
  padding: 0;

}
#footertext{
  padding-top: 5px;
  color: white;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background: black;
}
#margin{
  margin-top : 20px;
}
#userid{
  width: 13%;
  padding: 5px 1px;
  margin: 8px 0px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ccc;
}
#loginUsername{
  min-width: 5%;
  width: 50%;
  padding: 5px 1px;
  margin: 8px 0px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #ccc;
}









.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    color: blue;
    position: fixed;
}


















#password1{
  display: none;
}
#password{
    width: 13%;
    padding: 5px 1px;
    margin: 8px 0px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #ccc;
}
#loginPass{
  min-width: 5%;
  width: 50%;
  display: inline-block;
      padding: 5px 1px;
      margin: 8px 0px;
      border-radius: 4px;
      font-size: 15px;
      font-weight: bold;
}
#button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#button:hover {background-color: #3e8e41}
#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#checkBox{
  float: fixed;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}
#public{
  margin-bottom: 15px;
   padding: 4px 12px;
   background-color: #ffffcc;
   display: inline-block;
   border-left: 6px solid #f44336;
}
#private{
  background-color: #ddffdd;
    border-left: 6px solid #4CAF50;
    display: none;
      margin-bottom: 15px;
       padding: 4px 12px;

}
